USE [master]
GO
/****** Object:  Database [FinovaERPDB]    Script Date: 5/25/2026 4:21:33 PM ******/
CREATE DATABASE [FinovaERPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinovaERPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FinovaERPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinovaERPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FinovaERPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinovaERPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinovaERPDB]
GO
/****** Object:  Table [dbo].[CalculatorHistory]    Script Date: 5/25/2026 4:21:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalculatorHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CalculatorType] [nvarchar](50) NULL,
	[Input1] [nvarchar](100) NULL,
	[Input2] [nvarchar](100) NULL,
	[Input3] [nvarchar](100) NULL,
	[Result] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/25/2026 4:21:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[ProductName] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[OrderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/25/2026 4:21:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[ProductImage] [nvarchar](200) NULL,
	[Category] [nvarchar](100) NULL,
	[ProductCode] [nvarchar](100) NULL,
	[Brand] [nvarchar](200) NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[Status] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[StockStatus] [nvarchar](50) NULL,
	[SupplierName] [nvarchar](200) NULL,
	[Warranty] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[SKU] [nvarchar](100) NULL,
	[Barcode] [nvarchar](100) NULL,
	[GST] [decimal](10, 2) NULL,
	[Discount] [decimal](10, 2) NULL,
	[Weight] [nvarchar](50) NULL,
	[Color] [nvarchar](100) NULL,
	[Size] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](200) NULL,
	[ExpiryDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 5/25/2026 4:21:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportName] [nvarchar](200) NULL,
	[ReportType] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Products]    Script Date: 5/25/2026 4:21:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[ProductIcon] [nvarchar](100) NULL,
	[ButtonText] [nvarchar](50) NULL,
	[ButtonLink] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 5/25/2026 4:21:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Role] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[Gender] [nvarchar](20) NULL,
	[DOB] [date] NULL,
	[JoiningDate] [date] NULL,
	[Address] [nvarchar](max) NULL,
	[UserImage] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/25/2026 4:21:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Mobile] [nvarchar](20) NULL,
	[Password] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CalculatorHistory] ON 

INSERT [dbo].[CalculatorHistory] ([Id], [CalculatorType], [Input1], [Input2], [Input3], [Result], [CreatedDate]) VALUES (1, N'SIP Calculator', N'Monthly Investment = 5000', N'Rate = 12', N'Years = 10', N'Future Value = 1161695.3817597', CAST(N'2026-05-22T15:35:20.100' AS DateTime))
INSERT [dbo].[CalculatorHistory] ([Id], [CalculatorType], [Input1], [Input2], [Input3], [Result], [CreatedDate]) VALUES (2, N'EMI Calculator', N'Loan Amount = 500000', N'Interest = 10', N'Months = 60', N'EMI = 10623.5223556342', CAST(N'2026-05-22T15:35:21.857' AS DateTime))
INSERT [dbo].[CalculatorHistory] ([Id], [CalculatorType], [Input1], [Input2], [Input3], [Result], [CreatedDate]) VALUES (3, N'Retirement Calculator', N'Monthly Saving = 10000', N'Rate = 8', N'Years = 20', N'Corpus = 5929472.18392264', CAST(N'2026-05-22T15:35:24.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[CalculatorHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Price], [Quantity], [ProductImage], [Category], [ProductCode], [Brand], [SalePrice], [Status], [Description], [StockStatus], [SupplierName], [Warranty], [CreatedDate], [SKU], [Barcode], [GST], [Discount], [Weight], [Color], [Size], [Manufacturer], [ExpiryDate]) VALUES (11, N'Monitor', CAST(60000.00 AS Decimal(10, 2)), 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Price], [Quantity], [ProductImage], [Category], [ProductCode], [Brand], [SalePrice], [Status], [Description], [StockStatus], [SupplierName], [Warranty], [CreatedDate], [SKU], [Barcode], [GST], [Discount], [Weight], [Color], [Size], [Manufacturer], [ExpiryDate]) VALUES (13, N'Wooden Office Chair', CAST(8500.00 AS Decimal(10, 2)), 25, N'', N'Furniture', N'FUR-4001', N'IKEA', CAST(7499.00 AS Decimal(18, 2)), N'Active', N'only testing request purpose', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportId], [ReportName], [ReportType], [CreatedBy], [CreatedDate]) VALUES (1, N'Product Report', N'Excel', N'Admin', CAST(N'2026-05-21T17:24:05.627' AS DateTime))
INSERT [dbo].[Reports] ([ReportId], [ReportName], [ReportType], [CreatedBy], [CreatedDate]) VALUES (2, N'Sales Report', N'PDF', N'Admin', CAST(N'2026-05-21T17:24:05.627' AS DateTime))
INSERT [dbo].[Reports] ([ReportId], [ReportName], [ReportType], [CreatedBy], [CreatedDate]) VALUES (3, N'User Report', N'Excel', N'Manager', CAST(N'2026-05-21T17:24:05.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Products] ON 

INSERT [dbo].[Tbl_Products] ([Id], [ProductName], [ProductDescription], [ProductIcon], [ButtonText], [ButtonLink], [CreatedDate]) VALUES (1, N'SIP Investment', N'Start monthly investments with high long-term returns.', N'fa-chart-line', N'Explore', N'/Calculators.aspx', CAST(N'2026-05-22T16:42:38.707' AS DateTime))
INSERT [dbo].[Tbl_Products] ([Id], [ProductName], [ProductDescription], [ProductIcon], [ButtonText], [ButtonLink], [CreatedDate]) VALUES (2, N'Loan Services', N'EMI planning and smart loan management tools.', N'fa-money-bill-wave', N'View EMI', N'/Reports/EMIReport.aspx', CAST(N'2026-05-22T16:42:38.707' AS DateTime))
INSERT [dbo].[Tbl_Products] ([Id], [ProductName], [ProductDescription], [ProductIcon], [ButtonText], [ButtonLink], [CreatedDate]) VALUES (3, N'Tax Planning', N'Calculate taxes and manage financial planning easily.', N'fa-file-invoice-dollar', N'View Tax', N'/Reports/TaxReport.aspx', CAST(N'2026-05-22T16:42:38.707' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tbl_Products] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([DetailId], [UserId], [Role], [Status], [Gender], [DOB], [JoiningDate], [Address], [UserImage], [CreatedDate]) VALUES (1, 1, N'Admin', N'Active', N'Female', CAST(N'2002-05-15' AS Date), CAST(N'2026-05-21' AS Date), N'Delhi', N'riya.png', CAST(N'2026-05-21T18:01:07.450' AS DateTime))
INSERT [dbo].[UserDetails] ([DetailId], [UserId], [Role], [Status], [Gender], [DOB], [JoiningDate], [Address], [UserImage], [CreatedDate]) VALUES (2, 2, N'Manager', N'Active', N'Male', CAST(N'1999-08-10' AS Date), CAST(N'2026-05-22' AS Date), N'Mumbai', N'aman.png', CAST(N'2026-05-21T18:01:07.450' AS DateTime))
INSERT [dbo].[UserDetails] ([DetailId], [UserId], [Role], [Status], [Gender], [DOB], [JoiningDate], [Address], [UserImage], [CreatedDate]) VALUES (3, 3, N'Staff', N'Inactive', N'Male', CAST(N'2001-02-18' AS Date), CAST(N'2026-05-23' AS Date), N'Noida', N'rahul.png', CAST(N'2026-05-21T18:01:07.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Mobile], [Password], [CreatedDate]) VALUES (1, N'Rekha ', N'Rekha123@gmail.com', N'9720435788', N'Rekha@12', CAST(N'2026-05-20T16:33:50.563' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Mobile], [Password], [CreatedDate]) VALUES (2, N'Prashant', N'Prashant123@gmail.com', N'2343768673', N'Prashant@123', CAST(N'2026-05-21T17:56:18.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[CalculatorHistory] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tbl_Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserDetails] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
USE [master]
GO
